/* body part */
body{
    font-family: 'Poppins', sans-serif;
    
}
/* header part */
.container{
    background-color: darkblue;
    height: 700px;
    display: flex;
    justify-content: space-around;
}
.header-section1{
    color: aliceblue;
    padding-left: 150px;
    padding-top: 207px;
    padding-bottom: 240px;
    font-size: 2em;
}
.animation:hover{
    transform: scale(1.5);

}
.header-section1 a{
    text-decoration: none;
    font-size: 0.6em;
    padding: 10px; 
    height: 44px;
    background-color: orangered;
    color: whitesmoke;
}
.header-section2  img{
    width: auto;
    height: 438px;
    padding-right: 141px;
    padding-left: 141px;
    padding-top: 150px;
    padding-bottom: 86px;
}
.header-section2 img:hover{
    transform: scale(1.5);
}
/* player part------1 */
.players{
    max-width: 70%;
    margin: 0 auto;
}
.container-image{
    width: 100%;
    justify-content: space-between;


}
.container-1{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 26px;
    width: 20%;

}
.imagess img{
    width: 330px;
    height: 300px;

} 
.layout1{
    width: 330px;
    height: 474px;
    top: 747px;
    padding: 15px;
    left: 180x;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 0px 20px -15px black;

}
.layout2{
    width: 330px;
    height: 474px;
    top: 747px;
    padding: 15px;
    left: 540px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 0px 0px 20px -15px black;
}
.layout3{
    width: 330px;
    height: 474px;
    top: 747px;
    padding: 15px;
    left: 900px;
    margin: 20px;
    box-shadow: 0px 0px 20px -15px black;
}
/* Bonus part */
.players-football{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 30px;


}
.video-section{
    display: block;
    margin-left: auto;
    margin-right: auto;


}
.player-color{
    background-color: khaki;
    text-align: center;
}
.player-image img{
    max-width: 400px;
    height: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.player-image img:hover{
    transform: skew(130deg);
}
/* fotter part */
.footer{
    text-align: center;
}
.logo-footer img{
    width: 20%;
}
.icon-footer{
    font-size: 2.2em;
    color: lightsteelblue;


}
.icon-footer i{
    margin: 10px;
}

/* media query start */

/* tablet screen */
@media only screen and (max-width:768px) {
    .container{
        width: 100%;
        height: auto;
        
    }
    section.container{
        flex-direction: column;
    }
    .header-section1{
        margin: 0 auto;
        padding: 0;
    }
    .header-section2{
        margin: 0 auto;
    }
    .header-section2 img{
        width: auto;
        height: 259.17px;
        margin-top: 30px;
        padding: 35px;
    }
    .players{
        width: 100%;
    }
    .container-1{
        grid-template-columns: repeat(2, 1fr);

    }
    .layout1{
        justify-content: center;
        align-items: center;
    }
    .layout2{
        justify-content: center;
        align-items: center;
    }
    .layout3{
        justify-content: center;
        align-items: center;
        
    }

    .players-football{
        grid-template-columns: repeat(1, 1fr);
    }
    .logo-footer img{
        width: 70%;
        justify-content: center;
        align-items: center;
    }
}
/* mobile screen */
@media only screen and (max-width:700px) {
    .container{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .header-section1{
        margin: 0 auto;
        padding: 0;
    }
    .header-section2{
        margin: 0 auto;
    }
    .header-section2 img{
        width: auto;
        height: 259.17px;
        margin-top: 30px;
        padding: 35px;
    }
    .players{
        width: 100%;
    }
    .container-1{
        grid-template-columns: repeat(1, 1fr);

    }
    .layout1{
        justify-content: center;
        align-items: center;
    }
    .layout2{
        justify-content: center;
        align-items: center;
    }
    .layout3{
        justify-content: center;
        align-items: center;
    }

    .players-football{
        grid-template-columns: repeat(1, 1fr);
    }
    .logo-footer img{
        width: 70%;
        justify-content: center;
        align-items: center;
    }
}
